// breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// font
$base-font-size: 16px;
$base-line-height: 1.4;
$light: 300;
$bold: 700;

// colors
$red: #fc5c65;
$green: #26de81;
$yellow: #ffc108;
$blue: #4f6bff;

$black: #2a3135;
$white: #fafafa;
$gray: #a1a1a1;
$light-gray: #dce0e2;

$primary: $blue;
$danger: $red;
$success: $green;
$warning: $yellow;
